#exchange_logo{
	float: left;
	margin-left: 1em;
}

#welcome_text, .login{
	text-align: center;
	margin-top: 2em;
}

.login_text{
	color: white;
	font-weight: bold;
	padding-right: 2em;
}

.login_row{
	float: left;
	padding-left: 6em;
}

.login_text_input{
	box-shadow: inset 0 8px 6px -10px #000000;
}

#zip_field{
	padding-left: 1.5em;
}

#login_container{
	margin: 0 auto;
	float: none;
}

#login_container_parent{
	text-align: center;
}

.loggin{
	margin-top: -2em;
	margin-right: 3em;
}

.login{
	color: black;
}

.input_padding{
	margin-left: 1em;
}

#create_profile_button{
	border-radius: 25px;
	color: #3EADCA;
	height: 48px;
	width: 175px;
	box-shadow: 3px 3px 20px #000000;
	font-weight: bold;
	color: white;
	background-color: #3EADCA;
}

.learn_more{
	padding-top: 20em;
}

#scroll{
	margin-bottom: 2em;
}

#section_2{
	background-color: #6E8666;
	padding-bottom: 6em;
	color: white;
	text-align: center;
	position: relative;
}

.who_we_are{
	text-align: center;
	width: 100%;
}

.who_we_are_images{
	float: left;
	padding-left: 1.8em;
	padding-bottom: 1em;
}

#who_we_are_row{
	display: inline-block;
    float: none !important;
    margin: 0 auto;
    padding-top: 2em;
}

#who_we_are_header{
	padding-top: 1em;
}

#who_we_are_text{
	padding: 0em 4em 0em 4em;
}

.back_to_top{
	/*position: absolute;*/
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
    background: #A1AE9C;
    /*bottom: 0px;*/
    margin: 0 auto;
    float: none;
    display: inline-block;
    margin-left: -3.5em;
    cursor: pointer;
}

.back_to_top_text{
	margin-top: 1em;
	vertical-align: text-bottom;
	font-size: 12px;
	color: #6E8666;
}

#section_2_back_to_top, #section_3_back_to_top,
#section_4_back_to_top, #section_5_back_to_top, #section_6_back_to_top{
	position: absolute;
	bottom: 0em;
}

#section_3{
	position: relative;
	padding-top: 2em;
	padding-bottom: 3em;
	color: #3D4A39;
	text-align: center;
}

#our_values{
	margin-bottom: 1em;
}

.our_values, #id_confirmed, .safety_measures{
	text-align: center;
}

#our_values_list li{
	list-style-type: none;
	color: #3D4A39;
}

.our_values_list_bold{
	font-weight: bold;
	margin-bottom: -3px;
}

.our_values_points{
	padding-right: 10em;
	padding-left: 7em;
	padding-bottom: 1em;
	text-align: left;
}

.bold{
	font-weight: bold;
}

.safety_measures{
	margin-bottom: 2em;
}

.safety_measures_points{
	padding-right: 10em;
	padding-left: 10em;
	padding-bottom: 1em;
}

#safety_measurs_header{
	padding-top: 1em;
}

.cities{
	text-align: center;
}

@media (min-width: 768px) {
  .navbar {
    text-align: center;
  }

  .navbar-header {
    display: inline-block;
    float: none !important;
    margin: 0 auto;
  }
}

#exchange_logo{
	content: url('assets/exchange_tree_logo.png');
	width: 200px;
	height: 160px;
	padding-left: 3em;
	padding-top: 1em;
}

#section_1{
	background-image: url('assets/section_1.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#navbar_1{
	content: url('assets/navbar_1.png')
}

#navbar_2{
	content: url('assets/navbar_2.png')
}

#navbar_3{
	content: url('assets/navbar_3.png')
}

#navbar_4{
	content: url('assets/navbar_4.png')
}

#navbar_5{
	content: url('assets/navbar_5.png')
}

#navbar_6{
	content: url('assets/navbar_6.png')
}

#landing_page{
	text-align: center;
}

#welcome_to_exchange_tree{
	content: url('assets/welcome_to_exchange_tree.png');
	width: 600px;
	height: 200px;
	display: inline-block;
    float: none !important;
    margin: 0 auto;
    padding-top: 5em;
}

#privacy_disclaimer, #scroll{
	color: white;
	font-size: 12px;
}

#section_4{
	position: relative;
	background-image: url('assets/id_confirmed_background.jpg');
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 2em;
}

#id_confirmed{
	content: url('assets/id_confirmed.png');
	display: inline-block;
    float: none !important;
    margin: 0 auto;
}

#section_5{
	text-align: center;
	position: relative;
	background-color: #EFDDC7;
	padding-bottom: 4em;
}

#section_6{
	position: relative;
	text-align: center;
	padding-bottom: 3em;
}

#US_map{
	display: inline-block;
    float: none !important;
    margin: 0 auto;
}

#US_map{
	content: url('assets/US_map.png');
	height: 500px;
	width: 800px;
}

#cities{
	color: #52B0BE;
}

#who_we_are_image_1 img{
	/*content: url('assets/who_we_are_image_1.jpg');*/
	width: 149px;
	height: 149px;
	border-radius: 50%
}

#who_we_are_image_2 img{
	width: 149px;
	height: 149px;
	border-radius: 50%;
	webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#who_we_are_image_3 img{
	width: 149px;
	height: 149px;
	border-radius: 50%;
}

#who_we_are_image_4 img{
	width: 149px;
	height: 149px;
	border-radius: 50%;
}

#who_we_are_image_5 img{
	width: 149px;
	height: 149px;
	border-radius: 50%;
}

.img-div img{
	width: 149px;
	height: 149px;
	border-radius: 50%;
}

.who_we_are_text{
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	margin-top: 1em;
}

.who_we_are_blurbs{
	display: inline-block;
    float: none !important;
    margin: 0 auto;
    vertical-align: text-top;
}

.cities_list li{
	list-style-type: none;
	color: #79C1D4;
}

.cities_section{
	float: left;
	padding-top: 2em;
}

#cities_row{
	text-align: center;
	padding-top: 2em;
}

.cities_section{
	float: none;
	margin: 0 auto;
	display: inline-block;
}

#footer_section{
	background-color: #3E4B39;
	padding-bottom: 4em;
	color: white;
}

.href{
    color: white;
}

.footer_menu{
	list-style-type: none;
	font-size: 10px;
	display: inline-block;
	padding-top: 2em;
}

.social_media_icon{
	content: url('assets/facebook.png');
	float: left;
	margin-left: 0.5em;
	padding-top: 2.33em;
	float: right;
}

html,body{
    overflow-x: hidden; 
}